html {
  width: 100%;
  background-color: rgb(252, 246, 244);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

h2,
h3 {
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #d1a89d;
  background-color: rgb(209, 168, 157);
}

button {
  background-color: rgb(152, 190, 146);
  border-color: black;
  box-shadow: 3px 3px 2px #808080a1;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  transition-duration: .3s;
}

button:hover {
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
  cursor: pointer;
}

.user-dashboard-section,
.booking-status-container,
.past-bookings,
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 2%;
  margin: 2%;
  text-align: center;
}

.show-rooms-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
}

.user-booking-section {
  display: flex;
}

.logo {
  padding-left: 2%;
  width: 40%;
  height: auto;
}

.navigation-bar {
  padding: .5em;
  background-color: rgb(209, 168, 157);
}

.upcoming-bookings,
.past-bookings,
.check-in-availability-section {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.individual-booking-card,
.available-room-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(209, 168, 157);
  margin: 1%;
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1px rgba(0, 0, 0, 0.476);
  border-radius: 2%;
  box-shadow: 5px 5px 7px grey;
  overflow: hidden;
  width: 20%;
  height: auto;
}

.booking-card,
.available-room {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.booking-card-message {
  margin: 0;
}

.error-message {
  color: red;
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}
