* {
  border: 1px solid red;
}

html {
  width: 100%;
  background-color: rgb(209, 168, 157);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* background-image: url('./images/courtyard.png'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  position: relative; */
}

h1 {
  width: 100%;
  /* margin: 0;
  padding: 0; */
}

h3 {
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #d1a89d;
  background-color: rgb(209, 168, 157);
}

.user-dashboard-section,
.booking-status-container
.past-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.show-rooms-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
}

.user-booking-section {
  display: flex;
}

.logo {
  width: 40%;
  height: auto;
}

.navigation-bar {
  padding: .5em;

}

button {
  border-color: black;
  box-shadow: 3px 3px 2px #808080a1;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  margin-top: 30px;
  margin-right: 8px;
  padding: 15px;
  transition-duration: .3s;
}

.upcoming-bookings,
.past-bookings,
.check-in-availability-section {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.individual-booking-card,
.available-room-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffffd9;
  margin: 1%;
  border-radius: 2%;
  box-shadow: 5px 5px 7px grey;
  overflow: hidden;
  width: 20%;
  height: auto;
}

.booking-card,
.available-room {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.booking-card-message {
  margin: 0;
}

.hidden {
  display: none !important;
}

/* body {
  background: 
}

/* nav { */
  /* color: green#123524, white #FEFDFA pink#EDCADB
/* } */

/* light blue #52b3c2
purple #8f4c6f
ac335e

*/


/* fonts  */
/* futura */
 /* freight-big-pro */